* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.show-message {
  position: fixed;
  bottom: 15px;
  left: 25px;
  /* border: 1px solid red; */
  background-color: rgb(36, 34, 34);
  color: #ffff;
  padding: 5px 15px;
  border-radius: 6px;
  display: none;
}

.show-message p {
  margin: 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-message span {
  display: inline-block;
  border: 1px solid white;
  margin: 4px;
  padding: 8px 6px;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
